<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../public/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../public/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/index.css"/>
		<link rel="stylesheet" href="../../src/css/mine.css" />
		<script src="../../../public/js/page.flexible.js"></script>
		<script src="../../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../../public/js/mui.min.js"></script>
		<script src="../../../public/js/public.js"></script>
		<script src="../../../public/js/jquery.cookie.js"></script>
		<style>
			.mui-content{
				background: #fff;
			}
			.text{
				padding: 0.2rem;
			}
			.text p{
				text-align: center;
			}
			.btns{
				padding: 0.2rem ;
				display: flex;
				justify-content: space-around;
			}
			.btns button{
				width: 1rem;
				border-radius: 0.05rem;
				font-size: 0.16rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" href="../mine.html"></a>
			<p class="mui-title blue">支付密码</p>
		</header>
		<div class="mui-content">
			<div class="text">
				<p>您是否记得手机号 <span id="phoneNum">150****7801</span></p>
				<p>该账号当前使用的支付密码</p>
			</div>
			<div class="btns">
				<button style="color:#333;background: #b4cfe2;border:1px solid #b4cfe2;" type="button" class="mui-btn">不记得</button>
			    <a href="check-paypassword.html"><button style="color:#fff;background: #39a4f2;border:1px solid #39a4f2;" class="mui-btn">记得</button></a>
			</div>
		</div>
	</body><div id="nowCity" style="display:none;"></div>
	
	<script type="text/javascript">
		mui.init();
	</script>
</html>