<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../public/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../public/css/mui.picker.min.css" />
		<link href="../../../public/css/mui.min.css" rel="stylesheet" />
		<!--<link rel="stylesheet" type="text/css" href="../../src/css/index.css"/>-->
		<link rel="stylesheet" href="../../../public/css/mui.poppicker.css" />
		<link rel="stylesheet" href="../../../public/css/public.css" />
		<script src="../../../public/js/mui.min.js"></script>
		<script type="text/javascript" src="../../../public/js/page.flexible.js"></script>
		<style>
			ul{
				list-style: none;
			}
			body{
				background: #fff;
			}
			.mui-content{
				background: #FFF;
			}
			.common-box{
				padding:0 0.15rem;
				margin: 0;
			}
			.common-pic{
				width: 1.5rem;
				height: 1.5rem;
				margin-left: auto;
				margin-right: auto;
				margin-top: 0.3rem;
				margin-bottom: 0.1rem;
			}
			.common-pic img{
				width: 100%;
			}
			.common-tit{
				text-align: center;
				margin-bottom: 0.05rem;
				color: #39a4f2;
				font-size: 0.16rem;
			}
			.common-text{
				font-size: 0.14rem;
				color: #333;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<p class="mui-title">干洗常识</p>
		</header>
		<div class="mui-content">
			<ul class="common-box">
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common1.png" alt="" /></div>
					<div class="common-tit">1、什么是服装干洗？</div>
					<p class="common-text">专业洗涤可以分成三大类：干洗、湿洗及水洗。干洗是用溶剂（如：四氯乙烯溶剂、碳氢溶剂）来洗涤衣物，由于溶剂中几乎不含水分，所以称之为干洗。干洗并非是干着洗，而是采用有机溶剂去除衣服上的污物，之所以称之为干洗是因为洗涤所用的溶剂中不含或只含有一点点水，不会发生像水渗透进织物纤维之类的事。</p>
				</li>
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common2.png" alt="" /></div>
					<div class="common-tit">2、经常干洗会缩短衣物的寿命吗？</div>
					<p class="common-text">不会，恰恰相反，经常干洗会延长衣物的寿命，这是因为，水洗首先在让衣物的纤维膨胀，这样在洗涤时，洗涤剂将渗入到纤维中，很难清洗干净，残留的洗涤剂就会侵蚀纤维，从而使纤维变脆，导致衣物寿命的降低。而干洗不会是衣物的纤维膨胀，干洗剂，不会渗入纤维中，因而不会造成衣物的变脆，不会影响其寿命的降低，污渍在衣物上的时间长了会影响其寿命，而且一旦确定粘上细小的灰尘或其它小颗粒污物，就会像砂纸一样迅速地磨损织物纤维。另外附着在尘土中的孢子等细菌也会进一步损坏衣物。</p>
				</li>
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common3.png" alt="" /></div>
					<div class="common-tit">3、干洗能杀死细菌吗？</div>
					<p class="common-text">能，但非所有的细菌，一般说来，衣物上的微生物可分为病菌、无毛虫、孢子和寄生虫。在干洗过程中，由于干洗剂的作用，病菌，无毛虫和蛾幼虫可以杀死，对孢子来说，通过际协力的作用能使其从衣物上剥离出来，然后用过滤器分离出去。对于虱子，可以杀死，但因它的附着力特强，无法从衣物上分离出去。</p>
				</li>
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common4.png" alt="" /></div>
					<div class="common-tit">4、干洗的衣物会缩水吗？</div>
					<p class="common-text">不会。只要干洗过程是正常适当的，衣物不会发生缩水，若有缩水发生：是由于原服饰制造厂没有做好预先的防缩加工。</p>
				</li>
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common5.png" alt="" /></div>
					<div class="common-tit">5、有些衣物干洗后为什么会起泡？</div>
					<p class="common-text">洗衣店在经营过程中经常会收到这样的投诉，说干洗将顾客的衣服洗的起泡了，其实这种投诉不正确，客户应该向制衣商投诉，而不该向洗衣店投诉。西服在制造过程中有一个工序是向面料上加衬，目前大部分都使用粘合衬，衬里的表面涂有一层胶，这种胶只有在高温下才能溶化，在粘合机里，在高温高压下，衬里就会十分牢固地粘合在面料上，在这种情况下干洗不会开胶起泡。但是目前许多小的服装厂没有粘合机，而采用熨斗进行手工粘合，无论温度和压力都达不到要求，并且不均匀，因此一洗就起泡了。但必须说明的是按规范制衣程序制做的衣服，水洗可能使衣服开胶起泡。</p>
				</li>
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common6.png" alt="" /></div>
					<div class="common-tit">6、当一件衣物上标有“可以水洗”是否意味着不能干洗吗？</div>
					<p class="common-text">不完全是，因为服装保养标签办法明确规定至少标明一种适当的保养方法。常洗通常会按照标签上的指示去做，除非顾客要求别的洗涤方式。如果你要求我们将一件标有“可以水洗”的衣服干洗，则由此产生的洗涤质量问题将由顾客自行承担。</p>
				</li>
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common7.png" alt="" /></div>
					<div class="common-tit">7、什么样的衣物不宜干洗</div>
					<p class="common-text">由于干洗所采用的溶剂，会对部分衣物面料、填充物、装饰物等造成伤害，影响衣物的美观性与保暖性，所以有些衣物是不适合干洗的：如带有珠片饰物衣物、带有金属的饰物、用胶水粘接的绒制品、人造革、婚纱、地毯、静电植绒衣物、石蜡填充物衣物、复合面料衣物、丙纶类衣物（含防雨绸等），橡胶制品（含松紧带），油漆类饰物（如漆花）、羽绒服、贴身衣物、弹性纤维衣物、运动服。</p>
				</li>
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common8.png" alt="" /></div>
					<div class="common-tit">8、干洗的优点</div>
					<p class="common-text">杀菌、强力去油脂、防虫蛀、保型性好。</p>
				</li>
				<li>
					<div class="common-pic"><img src="../../../public/img/index/common9.png" alt="" /></div>
					<div class="common-tit">9、干洗完的衣物通风后再穿着和收纳</div>
					<p class="common-text">顾客取回干洗的衣物后，会问到衣物上一些味道，不用担心，这是干洗溶剂还没有完全挥发，晾晒通风后便可挥发，待味道消失后穿着和收纳即可。</p>
				</li>
			</ul>
		</div>
	</body><div id="nowCity" style="display:none;"></div>
	<script src="../../../public/js/jquery-3.3.1.min.js"></script>
	<script src="../../../public/js/jquery.cookie.js"></script>
	<script>
        $("#nowCity").html($.cookie("now"));
        $("title").html("常洗-"+$("#nowCity").html()+"站");
	</script>
</html>
