<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../public/css/mui.min.css" rel="stylesheet" />
		
		<link href="../../../public/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/index.css"/>
		<link rel="stylesheet" href="../../../public/css/public.css" />
		<link rel="stylesheet" href="../../src/css/complaints.css" />
		<script src="../../../public/js/page.flexible.js"></script>
		<script src="../../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../../public/js/mui.min.js"></script>
		<script src="../../../public/js/jquery.cookie.js"></script>
		<script src="../../../public/js/public.js"></script>
	</head>

	<body style="background: #fff;">
		<header class="mui-bar mui-bar-nav">
			<a href="../mine.html" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<p class="mui-title blue">意见反馈</p>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="form-grup">
					<p>姓名</p>
					<input id="name" type="text" name="userName"/>
				</div>
				<div class="form-grup">
					<p>电话</p>
					<input id="phone" type="text" name="phone"/>
				</div>
				<div class="form-grup">
					<p>意见反馈</p>
					<textarea id="textCon" name="content" rows="10" cols="" placeholder="感谢为平台提供宝贵意见"></textarea>
				</div>
				
			</form>
			<button id="ok" type="button" class="mui-btn mui-btn-primary mui-btn-block">提交</button>
		</div>
	</body>
	<div id="nowCity" style="display:none;"></div>
	<script src="../../../public/js/mui.min.js"></script>
	<script type="text/javascript">
        $("#ok").on("tap",function({}))

	</script>
</html>
