<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../public/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../public/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/index.css"/>
		<link rel="stylesheet" href="../../src/css/mine.css" />
		<script src="../../../public/js/page.flexible.js"></script>
		<script src="../../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../../public/js/mui.min.js"></script>
		<script src="../../../public/js/jquery.cookie.js"></script>
		<script src="../../../public/js/public.js"></script>
		<style>
			.input-box{
				padding: 0.2rem;
				background: #fff;
				position: relative;
			}
			input[type=number]{
				border: none;
				border-bottom: 2px solid #39a4f2;
				border-radius:0;
				margin-bottom: 0.6rem;
			}
			.del{
				position: absolute;
				width: 0.17rem;
				height: 0.17rem;
				color: #fff;
				background: #999;
				border-radius: 50%;
				text-align: center;
				line-height: 0.17rem;
				right: 0.3rem;
				top:0.3rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<p class="mui-title">电话</p>
		</header>
		<div class="mui-content">
			<form action="" class="input-box">
				<input type="number" placeholder="" id="phone" pattern="\d*"/>

				<button id="submit" type="button" class="mui-btn mui-btn-primary mui-btn-block">提交</button>
			</form>
			
		</div>
		
	</body>
	<div id="nowCity" style="display:none;"></div>
	
	<script type="text/javascript">
		mui.init();
        $("#nowCity").html($.cookie("now"));
        $("title").html("伊尔萨洗衣-"+$("#nowCity").html()+"站");
        $("#submit").on("tap", function () {
            var userPhone = $("#phone").val();
            var url = globalUrl + "/userInfo/updateUserInfo";
            var data={phone:userPhone};
            if(isPhoneNo(userPhone)){
                enAjax(url,'post',true,data,function(data){
                    $.cookie("phoneNum",userPhone);
                    window.location.href="user-mes.html";
                });
			}else{
                mui.toast("请填写正确格式的手机号");
			}

        });
	</script>
</html>