<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../public/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../public/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/index.css"/>
		<link rel="stylesheet" href="../../src/css/clothes.css" />
		<script src="../../../public/js/page.flexible.js"></script>
		<script src="../../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../../public/js/mui.min.js"></script>
		<script src="../../../public/js/jquery.cookie.js"></script>
		<script src="../../../public/js/public.js"></script>
		<script src="../../../public/js/mui.picker.min.js"></script>
		<script src="../../../public/js/common.js"></script>

		<style>
			body,.mui-content{background: #fff;}
			.poster{width:100%;}
			img{width: 100%;}
			.entrance{display: flex;justify-content:center;margin-top: 0.2rem;margin-bottom:0.25rem;}
			.entrance-pic:first-child{width: 1rem;height:1rem;}
			.entrance-pic:last-child{width: 0.7rem;height: 0.7rem;margin-top: 0.15rem;}
			.poster-text{text-align: center;}
			.poster-text p{font-size: 0.16rem;}
			.poster-text p:first-child{color: #08aaf5;}
			.line{width: 0.3rem;}
		</style>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav">
			<a id="back" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<p class="mui-title blue">海报推广</p>
			<a class="mui-pull-right ok" href="">分享</a>
		</header>
		<div class="mui-content">
			<div class="poster"><img src="../../../public/img/mine/poster3.png" alt="" /></div>
			<div class="entrance">
				<div class="entrance-pic"><img src="" alt="" /></div>
				<div class="line"></div>
				<div class="entrance-pic"><img src="../../../public/img/mine/poster1.png" alt="" /></div>
			</div>
			<div class="poster-text">
				<p>长按识别二维码</p>
				<p>关注我们 有惊喜！</p>
			</div>
		</div>
	</body>
	<div id="nowCity" style="display:none;"></div>
	<script>
        $("#nowCity").html($.cookie("now"));
        $("title").html("常洗-"+$("#nowCity").html()+"站");

        if($.cookie("qrCode")){
            $(".entrance-pic").eq(0).find("img").attr("src",$.cookie("qrCode"));
		}else{
            var url=globalUrl+"/wechatQrCode/getQrcode";
            var data={};
            enAjax(url,'get',true,data,getSharePic,null);
            function getSharePic(data){
                console.log(data);
                $(".entrance-pic").eq(0).find("img").attr("src",data.message);
            }
		}
	</script>
</html>
