<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="../../public/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../public/css/message.css"/>
    <link rel="stylesheet" href="../src/css/fetchPackage.css"/>
    <script type="text/javascript" src="../../public/js/page.flexible.js"></script>
    <script src="../../public/js/mui.min.js"></script>
    <script src="../../public/js/jquery-1.11.3.min.js"></script>
    <script src="../../public/js/jquery.cookie.js"></script>
    <style>
        .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active:after{
            width:34%;
            left:33%;
        }
        .mui-table-view li{
            background: #fff;
            margin-bottom:0.1rem;
            padding:0.1rem 0.15rem;
        }
        .line1,.line2{
            display: flex;
            justify-content: space-between;

        }
        .line1 p{
            font-size:0.17rem;
            color: #333;
        }
        .line2{
            margin-top:0.2rem;
        }
        .line2 p{
            font-size:0.15rem;
        }
        p{
            margin:0;
        }
    </style>
</head>
<body class="bg-tiny-blue">
<div class="wrap">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-back" href="index.html"></a>
        <p class="mui-title">审核</p>
    </header>
    <div class="mui-content">
        <div class="bg-white" style="padding:0 10px">
            <div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
                <a class="mui-control-item chose-btn" href="back-card1.html">会员退卡</a>
                <a class="mui-control-item chose-btn mui-active" href="back-card2.html">折扣退卡</a>
            </div>
        </div>

        <div id="item1" class="mui-content mui-scroll-wrapper" style="margin-top: 1rem;">
            <ul class="mui-table-view mui-scroll"></ul>
        </div>
    </div>
</div>
</body>
<script src="../../public/js/public.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script>
    var page=1;
    var pageSize=10;
    mui.init({
        pullRefresh: {
            container: '#item1',
            up: {
                height: 50,
                auto: true,
                contentrefresh: '正在加载...',
                contentnomore: '没有更多数据',
                callback: getMsg
            }
        }
    });

    //    点击查看详情
    $("#item1 ul").on("tap","li",function(){
        var id=$(this).attr("data-id");
        window.location.href='back-card-detail2.html?id='+id;
    });

    function getMsg(){
        $.ajax({
            type:"get",
            url:globalUrl+"/verifyCard/listByType",
            data:{type:"discountCard",page:page,pageSize:pageSize},
            beforeSend: function (xhr) {
                xhr.setRequestHeader("token", $.cookie("token"));
            },
            crossDomain: true,
            success:function(data){
                if(data.status==200){
                    mui('#item1').pullRefresh().endPullupToRefresh((++page>data.data.pages));
                    $("#item1 ul").html("");
                    for(var i=0;i<data.data.list.length;i++){
                        var name=data.data.list[i].memberName;
                        var item='<li data-id="'+data.data.list[i].id+'">' +
                            '<div class="line1">' +
                            '<p class="userId">会员ID:<span>'+data.data.list[i].memberId+'</span></p>' +
                            '<p class="price">实际金额:<span>'+data.data.list[i].cardReal+'</span>元</p>' +
                            '</div>' +
                            '<div class="line2">' +
                            '<p class="subUser">申请人:<span>'+name+'</span></p>' +
                            '<p class="subTime">申请时间:<span>'+timestampToTime(data.data.list[i].createTime)+'</span></p>' +
                            '</div>' +
                            '</li>';
                        $(item).appendTo($("#item1 ul"));
                    }
                }
            }
        })
    }
</script>
</html>