<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../public/css/mui.min.css" rel="stylesheet" />
		<!--<link rel="stylesheet" type="text/css" href="../../public/css/index.css"/>-->
		<link rel="stylesheet" href="../../public/css/message.css" />
		<link rel="stylesheet" href="../src/css/fetchPackage.css"/>
		<script type="text/javascript" src="../../public/js/page.flexible.js"></script>
		<script src="../../public/js/mui.min.js"></script>
		<script src="../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../public/js/jquery.cookie.js"></script>

	</head>
	<body class="bg-tiny-blue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-back" href="index.html"></a>
			<p class="mui-title">取件</p>
		</header>	
		<div class="mui-content">
			<div id="top">
				<div class="bg-white mui-flex mui-flex-halign-center border-bottom-tiny-blue searchBox">
					<div>
						<span>总数：</span>
						<span id="mesNum">0</span>
					</div>
					<div class="areaSelect">
						<input type="text" placeholder="请输入关键字" style="margin-bottom: 0;"/>
					</div>
					<div>
						<i class="mui-icon mui-icon-search"></i>
					</div>
				</div>
				<div class="bg-white" style="padding:0 10px">
					<div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary" id="choseStatus">
						<a class="mui-control-item chose-btn mui-active" href="#item1">未取</a>
						<a class="mui-control-item chose-btn" href="#item2">未交</a>
						<a class="mui-control-item chose-btn" href="#item3">已交</a>
					</div>
					<div class="sortBox mui-flex" style="padding: 4px 0;border-top: 1px solid #f4f8ff;">
						<div class="mui-text-center flexbox-f1 sort-active" id="earliest">预约最早</div>
						<div class="mui-text-center flexbox-f1">距离最近</div>
						<div class="mui-text-center flexbox-f1">当天订单</div>
					</div>
				</div>
			</div>

			<div class="" style="margin-top: 1.3rem;padding:0 .075rem;" id="orderCon">
				<div id="item1" class="mui-control-content mui-active border-radius-r5 chose-con mui-scroll-wrapper">
					<ul class="mui-table-view mui-scroll"></ul>
				</div>
				<div id="item2" class="mui-control-content border-radius-r5 chose-con mui-scroll-wrapper">
					<ul class="mui-table-view mui-scroll"></ul>
				</div>
				<div id="item3" class="mui-control-content border-radius-r5 chose-con mui-scroll-wrapper">
					<ul class="mui-table-view mui-scroll"></ul>
				</div>
			</div>
		</div>
	</body><div id="nowCity" style="display:none;"></div>
	<script src="../../public/js/public.js"></script>
	<!--<script src="../src/js/fetchPackage.js"></script>-->
</html>