 <!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../public/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../public/css/mui.picker.min.css" />
		<link rel="stylesheet" href="../../public/css/public.css" />
		<link rel="stylesheet" href="../src/css/order-pay.css" />
		<link rel="stylesheet" type="text/css" href="../../public/css/index.css"/>
		<script src="../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../public/js/jquery.cookie.js"></script>
		<script src="../../public/js/mui.min.js"></script>
		<script src="../../public/js/mui.picker.min.js"></script>
		<script src="../../public/js/public.js"></script>
		<script type="text/javascript" src="../../public/js/page.flexible.js"></script>
		<script src="../../public/js/common.js"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<p class="mui-title blue">订单支付</p>
		</header>
		<div class="mui-content">
			<div class="pay-style">
				<div class="pay-pic"><img src="../../public/img/order/dd.png" alt="" /></div>
				<div class="pay-txt">
					<h4>订单状态：<span>确认订单</span></h4>
					<p>下单时间：<span id="date"></span></p>
				</div>
			</div>
			<ul class="mui-table-view mui-table-view-chevron">
				<a>
					<li class="mui-table-view-cell">
						<p>取衣地址：<span id="get">去哪里收取您的待洗衣物</span></p>
					</li>
				</a>
				<a>
					<li class="mui-table-view-cell">
						<p>寄回地址：<span id="back">如与取衣地址一致可不填</span></p>
					</li>
				</a>
			</ul>	
			<!--订单内容-->
			<div class="orders" id="orders">
				<!--<div class="order">
					<p>家纺 枕巾</p>
					<p>X<span>2</span></span></p>
					<p>￥<span>30.00</span></p>
				</div>
				<div class="order">
					<p>家纺 枕巾</p>
					<p>X<span>2</span></span></p>
					<p>￥<span>30.00</span></p>
				</div>-->
			</div>
			<!--优惠券-->
			<ul class="mui-table-view mui-table-view-chevron pre">
				<!--<li class=" item" id="preferential">
						优惠券<p id="check-yhq">优惠券</p>
				</li>-->
				<li class=" item" id="Logistics">
						取件方式<p id="check-wl">顺丰快递</p>
				</li>
				<!--<li class=" item">
						<span>淡季洗衣<small>（预约洗衣免排队）</small></span>
						<p id="time"></p>
						<p class="mui-checkbox" id="wash2"><input id="check" type="checkbox" /></p>
				</li>-->
			</ul>	
			
			<!--商品金额-->
			<div class="all-price">
				<div class="price-tit">
					<p>商品金额</p>
					<p>￥<span id="price2">0.00</span></p>
				</div>
				<!--<div class="price-detail">
					<div class="price-pic-box"></div>
					<div class="prices">
						<div class="price1">
							<p>满减</p>
							<p>-￥</p>
							<p id="mj">0.00</p>
						</div>
						<div class="price1">
							<p>优惠券</p>
							<p>-￥</p>
							<p id="yhq">0.00</p>
						</div>
						<div class="price1">
							<p>淡季促销</p>
							<p>-￥</p>
							<p id="djcx">0.00</p>
						</div>
					</div>
				</div>-->
			</div>
			<textarea id="textarea" rows="5" placeholder="请填写备注"></textarea>
			<p class="remarks"></p>
			<div class="all">合计 ￥<span id="total">0.00</span></div>
			<a><button type="button" class="mui-btn mui-btn-primary mui-btn-block" id="submit">立即提交</button></a>
		</div>
		<div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
			<p class="bot-tit">优惠券</p>
		    <!-- 可选择菜单 -->
		    <ul class="mui-table-view" id="yhq-box"></ul>
		    <!-- 取消菜单 -->
		    <ul class="mui-table-view tab-close">
		      <li class="mui-table-view-cell">
		        <a href="#sheet1"><b>关闭</b></a>
		      </li>
		    </ul>
		</div>
		
	</body>
	<script src="../src/js/order-pay.js"></script>
</html>
