<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../../public/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../public/css/mui.picker.min.css" />
    <link rel="stylesheet" href="../../public/css/public.css" />
    <link rel="stylesheet" href="../src/css/order-pay.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/index.css"/>
    <script src="../../public/js/jquery-1.11.3.min.js"></script>
    <script src="../../public/js/jquery.cookie.js"></script>
    <script src="../../public/js/mui.min.js"></script>
    <script src="../../public/js/mui.picker.min.js"></script>
    <script src="../../public/js/public.js"></script>
    <script type="text/javascript" src="../../public/js/page.flexible.js"></script>
    <script src="../../public/js/common.js"></script>
    <script src="../../public/js/jweixin-1.2.0.js"></script>
    <script src="../../public/js/wenxin-pay.js"></script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a href="mall.html" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
    <p class="mui-title">订单支付</p>
</header>
<div class="mui-content">

</div>
</body><div id="nowCity" style="display:none;"></div>
<script>

</script>
</html>
