p {
  margin: 0;
}
.mui-content {
  padding: 0.3rem;
  background: #fff;
}
.mui-input-group input,
.mui-input-group textarea {
  background: #f4f8ff;
  border-radius: 0.05rem;
  font-size: 0.14rem;
}
.mui-input-group {
  margin-top: 0.3rem;
}
.form-grup p {
  font-size: 0.18rem;
  margin: 0.2rem 0;
  color: #333;
}
button[type=button] {
  margin-top: 0.5rem;
}
