<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../../public/css/mui.min.css" />
		<link rel="stylesheet" href="../../../public/css/index.css" />
		<link rel="stylesheet" href="../../../public/css/index.css" />
		<link rel="stylesheet" href="../../src/css/send-wash.css" />
		<script src="../../../public/js/page.flexible.js"></script>
		<script src="../../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../../public/js/mui.min.js"></script>
		<script src="../../../public/js/jquery.cookie.js"></script>
		<script src="../../../public/js/common.js"></script>
		<script src="../../../public/js/public.js"></script>
		<script src="../../src/js/address.js"></script>
		<script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<p class="mui-title blue">取衣地址</p>
			<a class="mui-pull-right ok" edit="0" style="line-height: 0.44rem">编辑</a>
		</header>
		<nav class="mui-bar mui-bar-tab" style="text-align: center;">
			<a class="mui-tab-item" href="get-address.html?">
				<span class="mui-tab-label">
					<a id="addPlace">
						<span class="mui-icon mui-icon-plusempty"></span> 添加地址
					</a>
					
				</span>
			</a>
		</nav>
		<div class="mui-content">
			<!--<ul id="addresses" class="mui-table-view wash-item">
				<li class="mui-table-view-cell">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red"><span class="mui-icon mui-icon-trash"></span></a>
					</div>
					<div class="mui-slider-handle">
						<div class="mes">
							<p>爱洗衣</p>
							<p class="wash-num">15050577801</p>
						</div>
						<div class="address">江苏省常州市新北区</div>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view wash-item">
				<li class="mui-table-view-cell">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red"><span class="mui-icon mui-icon-trash"></span></a>
					</div>
					<div class="mui-slider-handle">
						<div class="mes">
							<p>爱洗衣</p>
							<p class="wash-num">15050577801</p>
						</div>
						<div class="address">江苏省常州市新北区</div>
					</div>
				</li>
			</ul>-->
		</div>
		
		<script type="text/javascript">
		var orderId=getQueryString('id');
        var _goodsId=getQueryString('goodsId');
			$(function(){
			    removeMask();
                $("#nowCity").html($.cookie("now"));
                $("title").html("常洗-"+$("#nowCity").html()+"站");
				mui.init();

//				if(orderId==null){
//					getAddressGoods(_goodsId,'order-pay.html',false);
//				}else{
					getAddressOrder(orderId,'order-pay.html',false);
//				}
                //删除选中地址
                $(".ok").on("tap",function(){
                    if($(this).attr("edit")==1){
                        for(var i=0;i<$(".wash-item").length;i++){
                            if($(".wash-item").eq(i).find("input[type=checkbox]").is(":checked").length==0){
                                $(this).html("编辑").attr("edit",0);
                                $(".wash-item .mui-checkbox").css("display","none");
                            }
                            if($(".wash-item").eq(i).find("input[type=checkbox]").is(":checked")){
                                var addressId=$(".wash-item").eq(i).attr("data-id");
                                deleteAddress(addressId);
                            }

                        }
                        window.location.reload();
                    }else{
                        $(this).html("删除").attr("edit",1);
                        $(".wash-item .mui-checkbox").css("display","block");
                    }
                });
			});

            $(".mui-content").on("tap",".wash-item",function(){
                var area=$(this).find("li .mui-slider-handle .address").html();
                var addressId=$(this).attr("data-id");
                area=codeTrans(area);
                area=codeTrans2(area);
                area=codeTrans3(area);
                area=EncodeUtf8(area);
                $.cookie("getArea",area);
                $.cookie("getId",addressId);
            });
            $("nav").on("tap",function(){

            });

            //判断是否能添加地址
            //				addressCount('get-address.html',false,orderId,_goodsId);
            $("#addPlace").on("tap",function(){
                $.ajax({
                    url:globalUrl+'/address/getAddressCountByUserId',
                    type:'get',
                    data:{userInfoId:$.cookie('userId')},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("token", $.cookie("token"));
                    },
                    crossDomain: true,
                    success:function(data){
                        if(data.code==401){
                            window.location.href=wxUrl;
                            return false;
                        }
                        console.log(data);
                        if(data>=5){
                            mui.alert('最多同时存在5条地址');
                        }else{
                            if(orderId==null){
                                window.location.href="get-address.html?goodsId="+_goodsId;
                            }else{
                                window.location.href="get-address.html?id="+orderId;
                            }
                        }
                        removeMask();
                    },
                    error:function(){
                        removeMask();
                    }
                })
            });

		</script>
	</body>
	<div id="nowCity" style="display:none;"></div>
</html>