<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../../public/css/mui.min.css" />
		<link rel="stylesheet" href="../../../public/css/index.css" />
		<link rel="stylesheet" href="../../../public/css/public.css" />
		<link rel="stylesheet" href="../../src/css/vip.css" />
		<link rel="stylesheet" href="../../src/css/wash-chose.css"/>
		<script src="../../../public/js/page.flexible.js"></script>
		<script src="../../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../../public/js/mui.min.js"></script>
		<script src="../../../public/js/mui.picker.min.js"></script>
		<script src="../../../public/js/jquery.cookie.js"></script>
		<script src="../../../public/js/common.js"></script>
		<script src="../../../public/js/public.js"></script>
		<script src="../../../public/js/jquery-addShopping.js"></script>
		<script src="../../src/js/wash-chose.js"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class=" mui-icon mui-icon-left-nav mui-pull-left" href="../index.html"></a>
			<p class="mui-title blue">专业日常清洗</p>
		</header>

		<nav class="mui-bar mui-bar-tab bot-nav bot">
			<div class="full-remind">单笔订单满<span style="color: #9f0d10;font-weight: bold;"> 68 </span>元免运费</div>
			<div class="chose-items" id="icon-car">
				<!--<a href="clothes-box.html">-->
					<div id="shop-car" class="chose-pic"><img src="../../../public/img/order/shop-car.png" alt="" /><span id="item-num" class="mui-badge mui-badge-danger">0</span></div>
				<!--</a>-->
				<p id="all-price" class="chose-price">￥<span>0.00</span></p>
			</div>
			<a><button class="mui-btn mui-btn-primary" id="submit">下单取件</button></a>
		</nav>
		<div class="mui-content" >
			<ul class="menu-list">
				<li>会员洗衣</li>
				<li class="menu-active">日常洗衣</li>
				<li>鞋类洗涤</li>
				<li>皮衣皮草</li>
				<li>窗帘家纺</li>
			</ul>
			<ul class="con-list">
				<!--会员洗衣-->
				<li>
					<div class="vip-con">

					</div>
				</li>
				<!--日常洗衣-->
				<li class="con-active">
					<div class="vip-con">
						
					</div>
				</li>
				<!--鞋类洗衣-->
				<li>
					<div class="vip-con xx">
						
					</div>
				</li>
				<!--皮具奢侈品-->
				<li>
					<div class="vip-con">
						
					</div>
				</li>
				<!--窗帘洗护-->
				<li>
					<div class="vip-con">
						
					</div>
				</li>
			</ul>
		</div>
		<div id="vip-mask">
			<div id="mask-con">
				<p class="mui-pull-right close-btn">关闭</p>
				<div class="mask-pic"><img src="../../../public/img/order/tip-vip.png" alt=""></div>
				<div class="vip-text">
					<p>抱歉！这是会员专享商品.</p>
					<p>请您先充值300元成为会员</p>
				</div>
				<p class="go-vip"><a href="../user-center/top_up.html">充值成为会员</a></p>
				<p class="go-buy"><a href="wash-chose.html?id=2">非会员点此购买</a></p>
			</div>
		</div>
	</body><div id="nowCity" style="display:none;"></div>
</html>