<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../../public/css/mui.min.css" />
		<link rel="stylesheet" href="../../../public/css/index.css" />
		<link rel="stylesheet" href="../../../public/css/public.css" />
		<link rel="stylesheet" href="../../src/css/vip.css" />
		<link rel="stylesheet" href="../../src/css/wash-chose.css"/>
		<script src="../../../public/js/page.flexible.js"></script>
		<script src="../../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../../public/js/mui.min.js"></script>
		<script src="../../../public/js/mui.picker.min.js"></script>
		<script src="../../../public/js/jquery.cookie.js"></script>
		<script src="../../../public/js/common.js"></script>
		<script src="../../../public/js/public.js"></script>
		<script src="../../src/js/wash-chose2.js"></script>
		<style>
			.vip-con .vip-item{
				width:calc(100% / 3);
			}
			.vip-con .vip-item .vip-item-pic{
				height: auto;
			}
			.vip-con .vip-item .item-name{
				margin-bottom: 0;
			}
			.vip-con .vip-item .item-price .all-price .now-price{
				line-height: 0.24rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<p class="mui-title blue">奢侈品洗衣</p>
		</header>
		<nav class="mui-bar mui-bar-tab bot-nav">
			<div class="full-remind">单笔订单满<span style="color: #9f0d10;font-weight: bold;"> 68 </span>元免运费</div>
			<div class="chose-items" id="icon-car">
				<a href="clothes-box.html">
					<div id="shop-car" class="chose-pic"><img src="../../../public/img/order/shop-car.png" alt="" /><span id="item-num" class="mui-badge mui-badge-danger">0</span></div>
				</a>
				<p id="all-price" class="chose-price">￥<span>0.00</span></p>
			</div>
			<a><button class="mui-btn mui-btn-primary" id="submit">下单取件</button></a>
		</nav>
		<div class="mui-content" >
			<ul class="menu-list">
				<li class="menu-active">奢侈品洗护</li>
				<li>真丝蚕丝洗护</li>
				<li>服装救治</li>
				<li>福利专享</li>
			</ul>
			<ul class="con-list">
				<!--奢侈品洗护-->
				<li>
					<div class="vip-con">
						<!--<div class="vip-item">
							<div class="vip-item-pic"><a href="commodity-detail.html"><img src="../../img/c.png" alt="" /></a></div>
							<p class="item-name">衬衫(双)</p>
							<div class="item-price">
								<div class="all-price">
									<p class="now-price">￥<span>32.00</span></p>
									
								</div>
								<div class="adds"><img src="../../img/order/add.png" alt="" /></div>
							</div>
						</div>-->
					</div>
				</li>
				<!--真丝蚕丝洗护-->
				<li>
					<div class="vip-con">

					</div>
				</li>
				<!--服装救治-->
				<li>
					<div class="vip-con">

					</div>
				</li>
				<!--会员福利-->
				<li>
					<div class="vip-con">

					</div>
				</li>

			</ul>
			<div id="mask">
				<div id="detail-chose">
					<div class="this-item">
						<div class="this-pic"><img src="" alt="" /></div>
						<div class="this-mes">
							<p>￥<span id="detail-price">32.50</span></p>
							<p>已选<span id="this-goods">冬季加绒衬衫</span></p>
						</div>
					</div>
					<div class="tips"></div>
					<button type="button" class="mui-btn mui-btn-primary mui-btn-block" id="ok">确定</button>
					<p class="close">X</p>
				</div>
			</div>
		</div>
	</body><div id="nowCity" style="display:none;"></div>
</html>