<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常洗</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../public/css/mui.min.css" />
		<link rel="stylesheet" href="../../public/css/index.css" />
		<link rel="stylesheet" href="../src/css/message.css" />
		<script src="../../public/js/page.flexible.js"></script>
		<script src="../../public/js/jquery-1.11.3.min.js"></script>
		<script src="../../public/js/mui.min.js"></script>
		<script src="../../public/js/jquery.cookie.js"></script>
		<script src="../../public/js/public.js"></script>
		<script src="../../public/js/common.js"></script>
		<style>
			.mui-pull-bottom-pocket{
				position: absolute!important;
				bottom:-0.35rem;
			}
			#chose-con2{
				padding-bottom: 1rem;
			}
			.chose p a{
				color: #333;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<p class="mui-title">消息资讯</p>
		</header>
		<nav class="mui-bar mui-bar-tab bot">
			<a class="mui-tab-item" href="index.html">
				<div class="menu-pic"><img src="../../public/img/footer1-2.png" alt="" /></div>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item mui-active" href="message.html">
				<div class="menu-pic"><img src="../../public/img/footer2-1.png" alt="" /></div>
				<span class="mui-tab-label">消息</span>
			</a>
			<a class="mui-tab-item" href="mine.html">
				<div class="menu-pic"><img src="../../public/img/footer3-2.png" alt="" /></div>
				<span class="mui-tab-label">我</span>
			</a>
		</nav>

		<div class="mui-content">
			<div class="chose">
				<p class="chose-active"><a href="message.html">公告牌</a></p>
				<p><a href="message2.html">平台消息</a></p>
			</div>
			<div class="chose-con mui-content mui-scroll-wrapper con-active" id="chose-con1">
				<ul class="mess mui-scroll" id="mess" style="padding-bottom: 0.5rem;"></ul>
			</div>
		</div>
	</body>
	<div id="nowCity" style="display:none;"></div>
	<script>
		$(function(){
            $("#nowCity").html($.cookie("now"));
            $("title").html("常洗-"+$("#nowCity").html()+"站");
            mui.init({
                pullRefresh:{
                    container:'#chose-con1',
                    up:{
                        height:50,
                        auto:true,
                        contentrefresh:'正在加载...',
                        contentnomore:'没有更多数据',
                        callback:notices
                    }
                }
            })
		});
        mui('body').on('tap','a',function(){document.location.href=this.href;});
//        mui('.mui-scroll-wrapper').scroll();

        var count=1;
        function notices(){
            setTimeout(function(){
                $.ajax({
                    url:globalUrl+"/notice/getNoticeList",
                    type:'get',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("token", $.cookie("token"));
                    },
                    crossDomain: true,
                    success:function(data){
                        console.log(data);
                        if(data.code==401){
                            window.location.href=wxUrl;
                        }else{
                            mui('#chose-con1').pullRefresh().endPullupToRefresh((++count>data.data.pages));
//                            $("#chose-con1").html("");
                            for(var i=0;i<data.data.list.length;i++){
                                var tit=data.data.list[i].noticeTitle?data.data.list[i].noticeTitle:"无标题";
                                var noticeId = data.data.list[i].id;
                                var item='<div class="mui-card">'+
                                    '<div class="mui-card-header">'+
                                    '<div class="mui-media-body"><p class="card-tit">'+tit+'</p>'+
                                    // '<p><span class="year">2018</span>年<span class="month">7</span>月<span class="day">5</span>日</p>'+
                                    '</div>'+
                                    // '<p class="top-btn">置顶</p>'+
                                    '</div>'+
                                    '<div class="mui-card-content"><img src="http://'+data.data.list[i].cover+'" alt="" />'+
                                    '<div class="mui-card-content-inner">'+
                                    '<p style="color: #666;">'+data.data.list[i].remark+'</p>'+
                                    '</div>'+
                                    '</div>'+
                                    '<a href="user-center/newsDetails.html?newsId='+noticeId+'"><div class="mui-card-footer">查看详情</div></a>'+
                                    '</div>';
                                $(item).appendTo($("#mess"));
                            }
                        }
                    }
                })
			},500);
        }
	</script>
</html>