<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代收衣店登录</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../../public/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../src/css/index.css"/>
    <link rel="stylesheet" href="../../public/css/message.css" />
    <link rel="stylesheet" href="../src/css/shop-login.css">
    <script type="text/javascript" src="../../public/js/page.flexible.js"></script>
    <script src="../../public/js/jquery-1.11.3.min.js"></script>
    <script src="../../public/js/mui.min.js"></script>
    <script src="../../public/js/city.data-3.js"></script>
    <script src="../../public/js/jquery.cookie.js"></script>
    <script src="../../public/js/public.js"></script>
</head>
<body>
<!--<header class="mui-bar mui-bar-nav">-->
    <!--&lt;!&ndash;<a href="" class="mui-action-back mui-icon mui-icon-back"></a>&ndash;&gt;-->
    <!--<p class="mui-title">常洗助手</p>-->
<!--</header>-->
<div class="mui-content bg-color-blue">
    <div class="mui-content-body bg-white border-radius-r5">
        <div class="mui-text-center">
            <img class="logo" src="../../public/img/picker/logo.png"/>
        </div>
        <div class="appName mui-text-center color-darkblue">常洗收衣店</div>
        <div class="loginData">
            <div class="">
                <input class="bg-tiny-blue border-none" type="text" name="account" id="account" value="" placeholder=""/>
            </div>
            <div class="password">
                <input class="bg-tiny-blue border-none" type="password" name="password" id="password" value=""/>
            </div>
        </div>
        <div class="loginBtn">
            <div class="mui-btn mui-btn-block mui-btn-darkblue color-white btn">登录</div>
        </div>
        <div class="bot">
            <div class="mui-text-center font-size-14"><a href="">忘记密码？</a></div>
            <div class="mui-text-center font-size-14"><a href="shop-register.html">注册账号</a></div>
        </div>
    </div>
</div>
</body>
<script>
    var gUrl="http://192.168.1.82:8081/";
    $(".loginBtn .btn").on("tap",function(){
        pageLoad("block");
        var user=$("#account").val();
        var password=$("#password").val();
        checkEmpty(user,'请输入用户名');
        checkEmpty(password,'请输入密码');
        login(user,password);

    });

    function login(user,password){
        $.ajax({
            url:shopUrl+"storePoint/login",
            type:"post",
            data:{account:user,password:password},
            crossDomain: true,
            success:function(res){
                if(res.status==200){
                    removeMask();
                    $.cookie("token",res.data.token);
                    mui.toast(res.msg);
                    window.location.href='shop-index.html';
                }else{
                    removeMask();
                    mui.toast(res.msg);
                }
            },error:function(){
                removeMask();
                mui.toast("错误");
            }
        })
    }

    function checkEmpty(con,text){
        if(!con){
            removeMask();
            mui.toast(text);
            return
        }
    }
</script>
</html>